/*auto*/

body {
    padding: 20px;
    margin: 0;
    font: normal 12px Arial;
}

.ShowYScroll {
    overflow-y: scroll;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red-border {
    border-color: #ffe180;
}

li  a,
.navbar-collapse > li > a:hover {
    background-color: #ff293f;
}

.yellow-bk {
    background-color: #ffe180;
}

.height-x {
    height: 100%;
}

.zeor-radius {
    border-radius: 0;
    height: 500px;

}

body {
    background: rgba(0, 0, 128, 0.1) !important;
}
