/*auto*/

body {
    background: #f6f6f6 !important;
}

.bg-text {
    overflow: hidden;

}
.bg-text::after {
    color: #fff;
    filter:chroma(color= #fff);
    content: attr(data-bg-text);
    font-size: 60px;
    line-height: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    z-index: -1;
}