<!-- /app/css/ -->
@{ngStyle('app')}
@{ngStyle('styles/solarized-light')}
@{ngCommon('lib/beautify')}
@{ngCommon('lib/beautify-css')}
@{ngCommon('lib/beautify-html')}
<!-- /app/controllers/ -->
@{ngController('formattext')}
<div clas="container-fluid"
     style="height:3px;border:none;border-top:5px solid  #3366cc;margin:none;margin-top: 10px ;"></div>
<div class="container-fluid">
    <h2 class="col-md-offset-2 text-left" style="margin-top: 12px "><strong
            style="color:blue;"><em>升职加薪</em></strong><strong style="color:red;">.</strong><strong
            style="color:darkorange;"><em>cn</em></strong></h2>
</div>
<div  ng-controller="FormatTextCtrl">
    <nav class="navbar navbar-default navbar-inverse  bg-text"  data-bg-text="format json">
        <div class="container-fluid " style="  color: #3366cc;" >
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item  in alltype"  id="{{item.path}}" ><a class="padding-top-button" href="{{item.path}}">{{item.name}}</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid" >
        <div class="container-fluid">
            <div class="row">
    <textarea ng-class="class" style="  height: 500px;" placeholder="请输入想格式化的文本"
              ng-model="orgtext"></textarea>
                <div class="panel panel-primary col-md-6 " style="  height: 500px;" ng-show="isVisible">
                    <div class="panel-body ">
                        <p ng-bind-html="myHTML"></p>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary  btn-lg " style="display: block;  margin-left: auto;  margin-right: auto;"
                    ng-click="formatfc()">转换
            </button>
        </div>
    </div>
</div>
