@{meta('title', 'description', 'keywords')}

<!-- /app/css/ -->
@{ngStyle('app')}
@{ngStyle('styles/default')}
@{ngCommon('lib/beautify')}
@{ngCommon('lib/beautify-css')}
@{ngCommon('lib/beautify-html')}
<!-- /app/controllers/ -->
@{ngController('formattext')}


<div class="col-md-2 col-center-block   body-style">
    <h2>json格式化</h2>
</div>


<div class="col-md-12 " ng-controller="FormatTextCtrl">
    <div class="row "  >
        <textarea class="ShowYScroll  zeor-radius " ng-class="class" placeholder="请输入想格式化的文本"
                  ng-model="orgtext"></textarea>

        <div class="panel panel-primary col-md-6 zeor-radius " ng-show="isVisible">
            <div class="panel-body ">
                <p ng-bind-html="myHTML"></p>
            </div>
        </div>
    </div>
    <button class="btn btn-primary  btn-lg col-center-block" ng-click="formatfc()">转换</button>
</div>

@{ngTemplate('list')}
